<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLDENEME.Properties.Settings.YazlabConnectionString"
            connectionString="Data Source=DESKTOP-PMBMQKM\SQLEXPRESS;Initial Catalog=Yazlab;Integrated Security=True;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
        <add name="SQLDENEME.Properties.Settings.VeritabaniConnectionString"
            connectionString="Data Source=DESKTOP-PMBMQKM\SQLEXPRESS;Initial Catalog=Veritabani;Integrated Security=True;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>